%h2= @playdate.name
%p= @playdate.description
%p= @playdate.date
%p= @playdate.time
%p= @playdate.location

%p= link_to('Edit', edit_playdate_path(@playdate))
%p= link_to('Delete', playdate_path(@playdate), method: :delete)
%p= link_to('Add New Event', new_playdate_path)

