.form
  .event-form
    =form_for @event do |f|
      %p= f.label :name
      %p= f.text_field :name

      %p= f.label :date
      %p= f.text_field :date

      %p= f.label :place
      %p= f.text_field :place

      %p= f.label :time
      %p= f.text_field :time

      %p= f.label :event_rating
      %p= f.text_field :event_rating

      .submit
      %p= f.button :submit